a {
  color:inherit;
  text-decoration: none;
}

ul, li{
	display: inline;
}

.navbar {
  position: absolute;
  top:0;
  height: 60px;
  width: 100%;
  min-width: 980px;
}

.navmenu {
  font-family: Helvetica;
  font-size: 13px;
  color: #404040;

  position: absolute;
  right: 20px;
  top: 0;
}

.navmenu li {
  padding-left: 14px;
}

#selfie {
  opacity: 1;
  position: relative;
  top: 12px;
}

#navicon {
  position: relative;
  top: 2px;
}

#navicon img:hover {
  opacity: 1;
}

.navmenu ul {
  position: relative;
  right:12px;
}

#navicon{
	display: inline;
}

li:hover{
  text-decoration: underline;
}


.navmenu img {
  opacity: 0.6;

  padding: 0 10px 0 10px;
  position: relative;
  top:4px
}

#center {
  text-align: center;
  margin-top: 190px;
}

#center img{
  width: 269px; height: 95px;
  padding-bottom: 20px;

}

#center input{
  width: 560px; height: 25px;
  margin-bottom: 10px;
  border: 1px solid #C0C0C0;
  padding-left: 10px;

  font-size: 16px;
  font-family: Helvetica;
}

#center input:focus {
  outline: none;
  border-color: #5193FB;
}

#center input:hover {
  border: 1px solid #5193FB;
}

.button {
  width: auto;
  height: 30px;
  background-color: #F3F3F3;
  border: 1px solid #DDDDDD;
  border-radius: 0.2em;

  margin-top:5px;
  color:#444444;
  font-weight:bold;
  font-size: 10.5px;
}

.button:hover {
  box-shadow: 0 1px 1px #ACACAC;
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  color: #333;
  border: 1px solid #c6c6c6;
}

#button_search {
  margin-right: 5px;
}

#button_lucky {
  margin-left: 5px;
}

.footer {
  height: 40px; width: 100%;
  position: absolute;
  bottom: 0;

  background: #F2F2F2;
  border-top: 1px solid #E4E4E4;
}

.footer div {
  display: inline;
}

#leftfooter {
  float:left;
  margin: 11px 0 10px 18px;

}

#rightfooter {
  float: right;
  margin: 11px 18px 10px 0;
}

.footer li{
  font-size: 12.5px;
  font-family: Helvetica;
  color: #666666;
  margin: 13px;
}
